.idea/
_pycache_/
PennFudanPed/
trained_model/
132756644083266513.png
car.jpg
coc_eval.py
coco_utils.py
engine.py
fasterrcnn_resnet50_fpn_coco-258fb6c6.pth
image_185.png
image_334.png
image_458.png
image_459.png
maskrcnn_resnet50_fpn_coco-bf2d0c1e.pth
model_weights_epoch0.pth
parallelTestModule.py
pedestrian.jpg
result0.png
ransforms.py
tv-training-code.py
utils.py
