.idea/
__pycache__/
DataSet/
predicted_masks/
trained_models/
change_wrong_mask_pixels.py
Changing_wrong_pixels.py
checking_mask_value.py
fasterrcnn_resnet50_fpn_coco-258fb6c6.pth
maskrcnn_resnet50_fpn_coco-bf2d0c1e.pth
parallelTestModule.py
resize_images.py
